.navbar {
  position: fixed;
  width: 100%;
  height: 10%;
  z-index: 10;
}

.navbar .background-light {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
}

.navbar .background-dark {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #555;
  opacity: 0.5;
}

.logo {
  background: none;
  font-family: "Gotham";
  font-style: italic;
  letter-spacing: 0.3rem;
  /* padding-top: 0.5rem; */
  width: 8rem;
  height: 3rem;
}

.navbar .appbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: none;
  padding: 1rem 3rem;
  box-shadow: none;
  color: #fff;
}

/* .navbar .appbar-bg-dark {
  background-color: #222;
  opacity: 0.9;
} */
